@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(-50%, -4rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.activeNav {
  font-weight: 600;
}

.hightlight-text {
  background-color: #fbbf24;
}

.triangle-up {
  position: absolute;
  top: -20px;
  right: 15px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid white;
}

/*Custom Button*/

.mc_button,
.mc_button_reverse {
  z-index: 2;
  transition: color 0.5s ease 0s;
  overflow: hidden;
  position: relative;
}
.mc_button {
  color: #fff;
}

.mc_button.mc_button--primary {
  border: 1px solid #fbbf24;
}
.mc_button.mc_button--secondary {
  border: 1px solid #000;
}

.mc_button_reverse.mc_button--primary {
  border: 1px solid #fbbf24;
}
.mc_button_reverse.mc_button--secondary {
  border: 1px solid #000;
}
.mc_button_reverse.mc_button--error {
  border: 1px solid #fe4d4f;
}

.mc_button_reverse {
  color: #000;
  border: 1px solid #000;
}

.mc_button--uppercase {
  text-transform: uppercase;
}
.mc_button--lowercase {
  text-transform: lowercase;
}

.mc_button.mc_button--primary::before,
.mc_button_reverse.mc_button--primary::before {
  background-image: linear-gradient(to top right, #fbbf24, #fbbf24);
}
.mc_button.mc_button--secondary::before,
.mc_button_reverse.mc_button--secondary::before {
  background-image: linear-gradient(to top right, #000, #000);
}
.mc_button.mc_button--error::before,
.mc_button_reverse.mc_button--error::before {
  background-image: linear-gradient(to top right, #fe4d4f, #fe4d4f);
}

.mc_button.mc_button--pos-tl::before,
.mc_button_reverse.mc_button--pos-tl::before {
  left: -50%;
  top: 0;
}
.mc_button.mc_button--pos-tr::before,
.mc_button_reverse.mc_button--pos-tl::before {
  right: -50%;
  top: 0;
}
.mc_button.mc_button--rounded,
.mc_button_reverse.mc_button--pos-tl::before {
  border-radius: 1000px;
}

.mc_button.mc_button--round-md,
.mc_button_reverse.mc_button--round-md {
  border-radius: 10px;
}

.mc_button.mc_button--round-sm,
.mc_button_reverse.mc_button--round-sm {
  border-radius: 5px;
}

.mc_button::before,
.mc_button_reverse::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  transition: transform 0.8s ease 0s;
}
.mc_button::before {
  transform: scale(3);
}
.mc_button_reverse::before {
  transform: scale(0);
}

.mc_button_reverse:hover::before {
  transform: scale(3);
}

.mc_button:hover::before {
  transform: scale(0);
}

.mc_button:hover {
  color: #000;
}

.mc_button_reverse:hover {
  color: #fff;
}
