/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-icon {
  @apply bg-white rounded-full text-black cursor-pointer p-2 h-10;
}
.header {
  @apply fixed z-1100 left-0 top-0 right-0 bg-black text-white flex items-center justify-between px-5 md:px-7 h-20 md:h-24;
}

.main-nav__item {
  @apply relative group uppercase font-normal cursor-pointer h-full flex items-center p-1 mx-3;
}

.swiper-container {
  padding: 0 5px !important;
}

/*Custom Message Antd*/
/*Message*/

.custom-message {
  font-family: "Montserrat";
  display: flex;
  justify-content: right;
  text-align: right !important;
}
.custom-message > .ant-message-notice-content {
  border-radius: 10px;
  width: 300px;
  display: flex;
  align-items: center;
}
.custom-message-success > .ant-message-notice-content {
  border: 1px solid #c2e5cc;
  background-color: #ebf8ee;
}
.custom-message-error > .ant-message-notice-content {
  border: 1px solid red;
  background-color: #feede9;
}
.custom-message .ant-message-custom-content {
  display: flex;
  align-items: center;
  gap: 5px;
}

/*Rating*/
.ant-rate.ant-custom-rating {
  font-size: 13px;
}

.ant-drawer {
  z-index: 2000 !important;
}

.autocomplete-dropdown {
  font-family: "Montserrat", sans-serif;
  z-index: 999 !important;
}
